{{ define "title" -}}
{{ .Title | markdownify }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<ul class="feed-list">
{{ range .RegularPagesRecursive.ByDate.Reverse }}
{{- if or 
  (eq .Section "news")
  (eq .Section "posts") 
  (eq .Section "notes") 
-}}
{{- if not .IsNode -}}
<li class="feed-item">
	{{- if .Param "datesinlist" -}}
	<time class="feed-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
	{{- end -}}
	<a class="feed-link" href="{{ .RelPermalink }}">{{ .Section }} / {{ .Title | markdownify }}</a>
</li>
{{- end -}}
{{- end -}}
{{- end }}
</ul>
{{- end }}
