{{- $p := .page -}}
{{- $itemType := $p.Param "itemType" | default $p.Section -}}
{{- $slug := $p.File.TranslationBaseName | default ($p.Title | urlize) -}}
{{- $lead := "" -}}
{{- with $p.Param "summary" -}}
  {{- $lead = . | markdownify -}}
{{- else -}}
  {{- $lead = $p.Summary -}}
{{- end -}}
{{- $more := "" -}}
{{- with $p.RawContent -}}
  {{- $more = printf "<p class=\"feed-more\"><a href=\"%s\">Read more&nbsp;&rsaquo;</a></p>" $p.RelPermalink -}}
{{- end -}}
{{- $tags := "" -}}
{{- with $p.Params.tags -}}
  {{- $chips := slice -}}
  {{- range . -}}
    {{- $slug := . | urlize | lower -}}
    {{- $chips = $chips | append (printf "<a class=\"feed-tag\" href=\"/tags/%s/\">%s</a>" $slug .) -}}
  {{- end -}}
  {{- $tags = printf "<p class=\"feed-tags\">%s</p>" (delimit $chips " ") -}}
{{- end -}}
<article class="feed-entry" id="{{ $slug }}" data-type="{{ $itemType }}">
	<header class="feed-head">
		<div class="feed-meta">
			<time class="feed-date" datetime="{{ $p.Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ $p.Date.Format "2006 Jan 02" }}</time>
			<span class="feed-type">{{ $itemType }}</span>
		</div>
		<h2 class="feed-title">
			<a class="feed-title-link" href="{{ $p.RelPermalink }}">{{ $p.Title | markdownify }}</a>
		</h2>
	</header>
	<div class="feed-body">
		{{ printf "%s%s%s" $lead $tags $more | safeHTML }}
	</div>
</article>
