<nav class="site-nav" aria-label="Main">
  <ul class="site-nav-list">
    {{ $file := "" -}}
    {{- with .File -}}
      {{- $file = .TranslationBaseName -}}
    {{- end -}}
    {{- $sec := .Page.Section -}}
    {{- range .Site.Menus.main.ByWeight -}}
      {{- $base := path.Base .URL -}}
      {{- $active := or (eq $sec $base) (eq $file $base) (and (eq $sec "") (eq $file "_index") (eq $base "/")) -}}
      <li class="site-nav-item">
        <a class="site-nav-link{{ if $active }} site-nav-link--active{{ end }}" href="{{ .URL }}"><span class="pre">{{ .Pre }}</span><span>{{ .Name }}</span></a>
      </li>
    {{- end }}
  </ul>
</nav>
